@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&display=swap');

:root {
  --primary-color: #6e9277;
  --primary-color-variant: #a9bda2;
  --primary-color-variant-hover: #8c9a87;
  --white: #ffffff;
  --white-variation: #e0e6e9;
  --white-variation-2: #ecf0f1;
  --blue: #374f59;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

.header p {
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 500;
}

.logo {
  width: 5rem;
}

main {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.document {
  display: grid;
  grid-template-columns: 25rem auto;
  height: 100vh;
}

.sidebar-profile {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2rem 2.5rem;
}

.img-profile {
  margin: 2rem 0;
  width: 17.5rem;
  box-shadow: 0.7rem 0.7rem var(--white-variation);
}

.hero-text-section {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}

.input-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input,
button {
  all: unset;
  width: 100%;
}

input,
textarea {
  font-size: 1.2rem;
  font-family: inherit;
}

/* Reset Styles TextArea */

textarea {
  border: none;
  overflow: none;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

textarea {
  background-color: inherit;
  width: 100%;
  color: inherit;
  margin-left: -0.3rem;
}

.icon-input {
  width: 1.5rem;
}

.sidebar-about {
  color: var(--blue);
  background-color: var(--white-variation-2);
  padding: 2rem 2.5rem;
}

.sidebar-about-title {
  font-size: 4.8rem;
  color: var(--primary-color);
  width: 15rem;
}

.sidebar-about-career {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.no-hover {
  border: 2px solid transparent;
}

.hover-effect {
  transition: ease-in-out;
  border: 2px solid rgb(89, 71, 195);
}

.hover-effect-img {
  opacity: 0.685;
}

.sub-section {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-container {
  display: flex;
  background-color: var(--primary-color-variant);
  align-items: center;
  padding: 8px;
  gap: 5px;
  margin: 1rem 0;
  color: var(--blue);
}

.btn-container:hover {
  transition: all 1s ease;
  background-color: var(--primary-color-variant-hover);
}

.btn-icon {
  width: 2rem;
}

.btn-actions {
  padding: 2rem;
}

.width-65 {
  width: 6.5rem;
}

.width-300 {
  width: 30rem;
  text-transform: uppercase;
}

.m-1 {
  margin: 3rem 0 0rem 0;
}
